<h1>Search Analytics</h1>

<h2>Popular Searches</h2>
<table>
  <tr>
    <th>Query</th>
    <th>Count</th>
  </tr>
  <% @search_queries.each do |query, count| %>
    <tr>
      <td><%= query %></td>
      <td><%= count %></td>
    </tr>
  <% end %>
</table>

<h2>Searches by IP Address</h2>
<table>
  <tr>
    <th>IP Address</th>
    <th>Count</th>
  </tr>
  <% @ip_addresses.each do |ip_address, count| %>
    <tr>
      <td><%= ip_address %></td>
      <td><%= count %></td>
    </tr>
  <% end %>
</table>
