<h1>Search Articles</h1>
<%= form_tag search_create_path, method: :post, remote: true do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search articles..." %>
  <%= submit_tag "Search" %>
<% end %>

<div id="articles">
  <%= render 'search_results' %>
</div>
